/*------------------------------------*\
    STYLEGUIDE ONLY STYLESHEET
\*------------------------------------*/
/*------------------------------------*\
    STYLEGUIDE ONLY STYLESHEET
\*------------------------------------*/
/*------------------------------------*\
    These styles only apply to the
    display of the style guide.
    They cannot and should not be
    used elsewhere in the site.
\*------------------------------------*/
/*------------------------------------*\
    $TABLE OF CONTENTS
\*------------------------------------*/
/*
 *
 * STYLEGUIDE SPEC CLASSES..........................Classes and styling used only in styleguide
 * COLOR PALETTE....................................Global elements / Color palette
 * CODE.............................................Code outputs for each section
 *
 */
/*------------------------------------*\
    $FUNCTIONS
\*------------------------------------*/
/* Clamps the number between a min and max. So 4 in a 1-3 clamp would be 3
Usage: $height: clamp(4, 1, 3); and $height = 3 would be true.
*/
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/* Media Queries - ems based on 16px font size
	Usage: @include breakpoint(481) {}
*/
/* Shortened Href
*/
/* Hover State
*/
/* Truncate Text
	Element needs width to truncate overflowing text
*/
/* Transitions
*/
/* Position
*/
/* Position Uses
* Simplify the position cases for absolute, fixed, and relative
* Usage @include absolute(top 1em left 1em);
* Outputs:
* ...position: absolute;
* ...top: 1em;
* ...left: 1em;
*/
/*------------------------------------*\
    $STYLEGUIDE ONLY MIXINS
\*------------------------------------*/
/* Styleguide Label
*/
/*====================================*\
	PLACEHOLDERS & SILENT CLASSES
\*====================================*/
/*------------------------------------*\
    $TEXT ALTERING
\*------------------------------------*/
/*------------------------------------*\
    $TRANSITIONS & ANIMATIONS
\*------------------------------------*/
/*------------------------------------*\
    $BREAKPOINT VISIBILITY
\*------------------------------------*/
/*
We're iterating through a Sass list to build out the grid. Inside each parentheses is
a column (the column width is the first number in the list). The column spans are
the remaining values. This helps limit the excess bloat by not creating the same
classes in different columns - ie col-1-2 & col-2-4
*/
/*------------------------------------*\
    $STYLEGUIDE NAV
\*------------------------------------*/
/*------------------------------------*\
    $STYLEGUIDE NAV
\*------------------------------------*/
/*------------------------------------*\
    $STYLEGUIDE ONLY FONTS
\*------------------------------------*/
.top-level__header *, .sub-section__header *, .sub-section__title--dividing {
  font-family: "Clear Sans", "Fira Sans", "Open Sans", sans-serif;
  font-weight: 300;
}

/*------------------------------------*\
    $SECTIONS
\*------------------------------------*/
.section--top-level, .section--sub-section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  margin-bottom: -1px;
  margin-bottom: -0.1rem;
}

.section--sub-section:last-child {
  border: none;
}

@media screen and (min-width: 56.25em) {
  .sub-section__header, .sub-section__content {
    display: inline-block;
    vertical-align: top;
  }
  .sub-section__header .sub-section__header, .sub-section__header .sub-section__content, .sub-section__header .sub-section__footer, .sub-section__content .sub-section__header, .sub-section__content .sub-section__content, .sub-section__content .sub-section__footer {
    width: 100%;
  }
  .sub-section__header .sub-section__footer, .sub-section__content .sub-section__footer {
    margin-right: 0px;
    margin-right: 0rem;
    margin-left: 0px;
    margin-left: 0rem;
  }
  .sub-section__header {
    width: 25%;
  }
  .sub-section__content, .sub-section__footer {
    width: 75%;
  }
  .sub-section__footer {
    margin-left: 25%;
  }
}
/*------------------------------------*\
    $HEADERS
\*------------------------------------*/
.sub-section__title {
  color: #666666;
  display: inline-block;
}
.sub-section-2__title {
  display: inline-block;
  color: #8c8c8c;
  font-style: italic;
}

/*------------------------------------*\
    $COLOR PALETTE
\*------------------------------------*/
.sg-colors__color {
  width: 23%;
  margin: 0 1%;
  margin-bottom: 12px;
  margin-bottom: 1.2rem;
  display: inline-block;
  box-shadow: 0 1px 3px #ccc;
}
@media screen and (min-width: 30.0625em) {
  .sg-colors__color {
    width: 21%;
    margin: 0 2%;
    margin-bottom: 24px;
    margin-bottom: 2.4rem;
  }
}
@media screen and (min-width: 48.0625em) {
  .sg-colors__color {
    width: 17%;
    margin: 0 4%;
    margin-bottom: 36px;
    margin-bottom: 3.6rem;
  }
}
.sg-colors__swatch, .sg-colors__label {
  width: 100%;
  padding: 0px 12px;
  padding: 0rem 1.2rem;
}
.sg-colors__swatch {
  display: block;
  width: 100%;
  padding-bottom: 60px;
  padding-bottom: 6rem;
}
@media screen and (min-width: 30.0625em) {
  .sg-colors__swatch {
    padding-bottom: 72px;
    padding-bottom: 7.2rem;
  }
}
@media screen and (min-width: 48.0625em) {
  .sg-colors__swatch {
    padding-bottom: 96px;
    padding-bottom: 9.6rem;
  }
}
.sg-colors__label {
  font-size: 10px;
  font-size: 1rem;
  display: block;
  background: #fff;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.1em;
  padding: 12px 0px;
  padding: 1.2rem 0rem;
}
@media screen and (min-width: 30.0625em) {
  .sg-colors__label {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 2;
  }
}
@media screen and (min-width: 48.0625em) {
  .sg-colors__label {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
  }
}

/*------------------------------------*\
    $GRID
\*------------------------------------*/
.grid-module [class^="col-"] {
  min-height: 3em;
  background: #eeeeee;
  padding: 0;
  position: relative;
}
.grid-module [class^="col-"]:after {
  content: attr(data-col-span) "\002f" attr(data-col-size);
  position: absolute;
  top: 25%;
  text-align: center;
  color: #666666;
  width: 100%;
  height: 100%;
}
.grid-module .col--highlighted {
  background: #888;
}
.grid-module .col--highlighted:after {
  color: white;
}

/*------------------------------------*\
    $CODE
\*------------------------------------*/
pre {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  margin-top: 12px;
  margin-top: 1.2rem;
  margin-bottom: 12px;
  margin-bottom: 1.2rem;
  padding: 11px;
  padding: 1.1rem;
  width: 100%;
  background: #333333;
  border-top: 0.1rem solid black;
  border-bottom: 0.1rem solid #666666;
  white-space: pre-line;
  color: white;
}

/*------------------------------------*\
    $STYLEGUIDE INDIV SECTIONS
\*------------------------------------*/
#headings .sub-section__content, #paragraphs .top-level__content, form {
  margin: 0 auto;
  max-width: 800px;
}

/*# sourceMappingURL=style-guide.css.map */
