/*====================================*\
	STYLESHEET
\*====================================*/
/*------------------------------------*\
	01-GENERIC
\*------------------------------------*/
/*------------------------------------*\
    FUNCTIONS
\*------------------------------------*/
/**
 * CLAMP
 *  Clamps the number between a min and max. So 4 in a 1-3 clamp would be 3
 *  Usage: clamp(4, 1, 3); Returns 3
 */
/**
 * REMOVE DUPLICATES
 *  Remove duplicate items in a list
 *  Usage: remove-duplicates(4 3 2 5 4 3);
 *  would output as 4 3 2 5
 */
/**
 * CONTAIN
 *  Returns true if current list includes value
 *  Usage: contain(dog cat bird, dog); Returns true
 */
/**
 * INTERSECTION
 *  Returns shared values between lists. Value must be present on all included lists
 *  Usage: intersection(a b c d, c b d, c); Returns c
 */
/**
 * REMOVE
 *  Remove an item from a list
 *  Usage: remove(a b c d, c); Returns abd
 */
/**
 * TO STRING
 *  Turn a list into a deliminated string
 *  Usage: to-string(h1 h2 h3 h4, ', '); Returns h1, h2, h3, h4
 */
/**
 * STRIP-UNIT
 *  Remove unit of measure from a number
 *  Usage: strip-unit(72px); Returns 72
 */
/**
 * COLUMN SIZE
 *  Alias for percentage(); with round();
 *  Usage: col_size(1, 2); Returns 50%
 */
/**
 * TRANSPARENT
 *  Adds rgb and alpha transparency to color
 *  Usage: transparent(#fff, 0.7); Returns rgba(255, 255, 255, 0.7);
 */
/**
 * CALCULATE RELATIVE EMS
 *  Calculate precise ems on the fly from px related input. OPTIONAL - multiplier if base isn't 1.6 
 *  Usage: calc_ems(36, 1.5); Returns 2.25em;
 */
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/* == ^BORDER == */
/* == ^SPACING == */
/* == ^MARGIN & PADDING == */
/* Media Queries - ems based on 16px font size
	Usage: @include breakpoint(481) {}
*/
/* == ^BUTTON-UP == */
/* == ^BUTTON-HOVER == */
/* == ^BUTTON-DOWN == */
/* Shortened Href
*/
/* Hover State
*/
/* Transitions
*/
/* == ^TRANSITIONS == */
/* Position
*/
/* Position Uses
* Simplify the position cases for absolute, fixed, and relative
* Usage @include absolute(top 1em left 1em);
* Outputs:
* ...position: absolute;
* ...top: 1em;
* ...left: 1em;
*/
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}
a:active, a:hover {
  outline: 0;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
  text-transform: none;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/*****************************************************************
BOX-SIZING SET TO BORDER-BOX for all elements. Necessary for proper
alignment unless positioning absolute. Better to set it early and
all-inclusive than to piece it together along the way.
*****************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea, button {
  box-sizing: border-box;
}

/******************************************************************
RESPONSIVE IMAGES w/aspect ratio
******************************************************************/
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

b, strong, .strong {
  font-weight: bold;
}

dfn, em, .em {
  font-style: italic;
}

small, .small {
  font-size: 75%;
}

ul, ol {
  padding: 0;
  list-style-type: none;
}

dd {
  margin: 0;
}

.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none;
}

/*====================================*\
	PLACEHOLDERS & SILENT CLASSES
\*====================================*/
.row, .row--full-width, .row--no-pad, .row--reverse, .clearfix {
  *zoom: 1;
}
.row:before, .row--full-width:before, .row--no-pad:before, .row--reverse:before, .clearfix:before, .row:after, .row--full-width:after, .row--no-pad:after, .row--reverse:after, .clearfix:after {
  content: "";
  display: table;
}
.row:after, .row--full-width:after, .row--no-pad:after, .row--reverse:after, .clearfix:after {
  clear: both;
}

.row, .row--no-pad, .row--reverse {
  max-width: 75em;
}

.row, .row--full-width, .row--no-pad, .row--reverse, .row--flex, .social--lastfm {
  margin: 0 auto;
  position: relative;
}

/*------------------------------------*\
    $TEXT ALTERING
\*------------------------------------*/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Noto Serif", sans-serif;
}

.section__title, .title--alt {
  font-family: "Fira Sans", sans-serif;
}

.social--github .item__title {
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
/*------------------------------------*\
    $TRANSITIONS & ANIMATIONS
\*------------------------------------*/
/*------------------------------------*\
    $SECTIONS
\*------------------------------------*/
.page__header .header__content, .content--intro, .content--column, .block--social {
  padding: 3.75em 2.25em;
}

.content--description, .content__block {
  padding-bottom: 3.75em;
}

/*------------------------------------*\
    $BREAKPOINT VISIBILITY
\*------------------------------------*/
/*------------------------------------*\
    $POSITION
\*------------------------------------*/
/*------------------------------------*\
    $GRID
\*------------------------------------*/
/*-------------------------------------*\
		$COLOR
\*-------------------------------------*/
/*-------------------------------------*\
		$BG COLOR
\*-------------------------------------*/
.content--intro, .content--social, .page__footer {
  background-color: #fafafa;
}

/*-------------------------------------*\
		$BUTTON
\*-------------------------------------*/
/*-------------------------------------*\
		$ROWS
\*-------------------------------------*/
.row {
  display: block;
}

.row--full-width {
  min-width: 100%;
  display: block;
}

.row--no-pad {
  padding: 0 !important;
  display: block;
}

.row--reverse {
  display: block;
}

.row--flex, .social--lastfm {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#container, .page__content {
  position: relative;
}

.modal--overlay {
  transition: background 1s linear;
}

.modal--overlay:after {
  content: "";
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(35, 35, 35, 0.5);
}

/* Layout Container */
.row {
  width: 100%;
  display: block;
}
@media screen and (min-width: 62.5em) {
  .row {
    max-width: 62.5em;
    margin: 0 auto;
  }
}
.row--full-width {
  display: block;
}
.row--no-pad {
  display: block;
}
.row--reverse {
  display: block;
}

@media screen and (min-width: 81.3125em) {
  #content > .row, #content > .row--reverse, #content > .row--full-width > .row, #content > .row--full-width > .row--reverse, #content > .row--full-width > .row--flex, #content > .row--flex, #content > .row > .row--flex {
    padding-right: 0;
    padding-left: 0;
  }
}

/*------------------------------------*\
    $FONT-FACE
\*------------------------------------*/
@font-face {
  font-family: 'Fira Sans';
  src: url("../font-face/firasans/FiraSans-Light.eot");
  src: url("../font-face/firasans/FiraSans-Light.eot?#iefix") format("embedded-opentype"), url("../font-face/firasans/FiraSans-Light.woff") format("woff"), url("../font-face/firasans/FiraSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url("../font-face/firasans/FiraSans-LightItalic.eot");
  src: url("../font-face/firasans/FiraSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../font-face/firasans/FiraSans-LightItalic.woff") format("woff"), url("../font-face/firasans/FiraSans-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url("../font-face/firasans/FiraSans-Medium.eot");
  src: url("../font-face/firasans/FiraSans-Medium.eot?#iefix") format("embedded-opentype"), url("../font-face/firasans/FiraSans-Medium.woff") format("woff"), url("../font-face/firasans/FiraSans-Medium.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url("../font-face/firasans/FiraSans-MediumItalic.eot");
  src: url("../font-face/firasans/FiraSans-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../font-face/firasans/FiraSans-MediumItalic.woff") format("woff"), url("../font-face/firasans/FiraSans-MediumItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Noto Serif';
  src: url("../font-face/notoserif/NotoSerif-Bold-webfont.eot");
  src: url("../font-face/notoserif/NotoSerif-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font-face/notoserif/NotoSerif-Bold-webfont.woff") format("woff"), url("../font-face/notoserif/NotoSerif-Bold-webfont.ttf") format("truetype"), url("../font-face/notoserif/NotoSerif-Bold-webfont.svg#noto_serifbold_italic") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Serif';
  src: url("../font-face/notoserif/NotoSerif-BoldItalic-webfont.eot");
  src: url("../font-face/notoserif/NotoSerif-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../font-face/notoserif/NotoSerif-BoldItalic-webfont.woff") format("woff"), url("../font-face/notoserif/NotoSerif-BoldItalic-webfont.ttf") format("truetype"), url("../font-face/notoserif/NotoSerif-BoldItalic-webfont.svg#noto_serifbold_italic") format("svg");
  font-weight: bold;
  font-style: italic;
}
/*------------------------------------*\
	02-BASE
\*------------------------------------*/
/*------------------------------------*\
    $GLOBAL CLASSES
\*------------------------------------*/
/* Clearfix */
/* Completely remove from the flow and screen readers. */
.is-hidden {
  display: none !important;
  visibility: hidden !important;
}

html {
  height: 100%;
  font-size: 62.5%;
}
html ::-moz-selection {
  background-color: #539a5a;
  color: #fff;
}
html ::selection {
  background-color: #539a5a;
  color: #fff;
}

body {
  background: white;
  font-size: 1.6em;
  line-height: 1.5;
  font-family: "Fira Sans", sans-serif;
  -webkit-text-size-adjust: 100%;
  color: #404041;
}

ul li, ul ol {
  vertical-align: top;
}

p:last-child {
  margin-bottom: 0;
}

address {
  font-size: 0.875em;
  line-height: 1.71429;
  font-style: normal;
}

.content__meta {
  font-size: 0.875em;
  color: #99999b;
  letter-spacing: 0.05em;
  line-height: 1.71429;
}

.group--link .link__item {
  display: inline-block;
  padding: 0.375em;
}

.group--link .icon {
  padding-right: 0.375em;
}

/* Links */
a, a:visited {
  color: #539a5a;
  /*     text-decoration: none;
      &:after {
          content: "";
          width: auto;
          display: block;
          border-bottom:1px dotted;
      } */
}
a:link, a:visited:link {
  -webkit-tap-highlight-color: transparent;
}

/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 0;
  margin-bottom: 2.4rem;
}

/* Subheadings */
/* Titles */
.section__title {
  font-weight: normal;
  color: #539a5a;
  text-transform: uppercase;
}
.section__title span {
  color: #99999b;
}

.content__title {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 0.5em;
}

.content__subtitle {
  font-weight: bold;
}

.title--alt {
  font-size: 1.25em;
  line-height: 1.2;
  margin-bottom: 0.6em;
}

/* Text-Related Elements */
p {
  margin-bottom: 1.5em;
  margin-top: 0;
}

/* == $INLINE ELEMENTS == */
abbr {
  border-bottom: 1px dotted #404041;
  border-bottom: 0.1rem dotted #404041;
  cursor: help;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list--unordered .list__item {
  position: relative;
  margin-bottom: 0.75em;
}
.list--unordered .list__item:before {
  content: "\2010" "\00a0";
  height: 1em;
  width: 0.7em;
  position: absolute;
  right: 100%;
  top: 0;
}
.list--unordered .list__item:last-child {
  margin-bottom: 0;
}

ol {
  counter-reset: li;
}
ol > li {
  position: relative;
}
ol > li:before {
  content: counter(li) "\002E\00a0";
  counter-increment: li;
  color: #737374;
}

ul--bulleted > li:before {
  content: "\2010" "\00a0";
  color: #737374;
}

/* Definition Lists */
dl {
  overflow: hidden;
  margin: 0 0 0.75em;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/
/* Flexible Media */
img, video, object {
  max-width: 100%;
  height: auto;
}

.icon {
  height: 1.5em;
  width: 1.5em;
  vertical-align: middle;
}

/*------------------------------------*\
    $FORMS
\*------------------------------------*/
form ol, form ul {
  list-style: none;
  margin-left: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

label {
  display: block;
  padding-bottom: 7.5px;
  padding-bottom: 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  margin: 0;
}

input, textarea {
  width: 100%;
  border: none;
  padding: 3.75px;
  padding: 0.375rem;
}

input[type=text], input[type=url], input[type=number], textarea {
  background: #404041;
  -webkit-appearance: none;
}

input[type="submit"] {
  padding: 3.75px 7.5px;
  padding: 0.375rem 0.75rem;
  background: #404041;
  border: none;
  cursor: pointer;
}

.field-container {
  margin-bottom: 7.5px;
  margin-bottom: 0.75em;
}

.inline-form fieldset, .inline-form .inline-container {
  position: relative;
}
.inline-form input[type=submit], .inline-form button, .inline-form .button {
  padding: 3.75px 7.5px;
  padding: 0.375rem 0.75rem;
  background: #404041;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: auto;
}
.inline-form input[type=submit]:hover, .inline-form input[type=submit]:focus, .inline-form button:hover, .inline-form button:focus, .inline-form .button:hover, .inline-form .button:focus {
  background: #404041;
  color: white;
}

.form__module {
  position: relative;
}
.form__module .item-status {
  position: absolute;
  bottom: 100%;
  right: 0;
  margin-bottom: 12px;
  margin-bottom: 1.2em;
  z-index: 15;
}
@media screen and (min-width: 48.0625em) {
  .form__group {
    max-width: 75em;
    margin: 0 auto;
  }
}
.form__group .form__module {
  display: inline-block;
  width: 33.33333%;
  text-align: center;
}
.form__group--radio-control-group, .form__group--checkbox-control-group {
  border-radius: 0.8rem;
  border: 2px solid #404041;
  border: 0.2rem solid #404041;
}
.form__group--radio-control-group .form__module:first-child, .form__group--checkbox-control-group .form__module:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.form__group--radio-control-group .form__module:first-child .form__label, .form__group--checkbox-control-group .form__module:first-child .form__label {
  border-left: none;
}
.form__group--radio-control-group .form__module:last-child, .form__group--checkbox-control-group .form__module:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  float: right;
}
.form__group--radio-control-group .form__label, .form__group--checkbox-control-group .form__label {
  color: #404041;
}
.form__group--radio-control-group .radio-control--bottom .form__label, .form__group--checkbox-control-group .radio-control--bottom .form__label {
  border-bottom: none;
}
.form__group--radio-control-group .radio-control--top-left-corner .form__label, .form__group--checkbox-control-group .radio-control--top-left-corner .form__label {
  border-top-left-radius: 0.5rem;
}
.form__group--radio-control-group .radio-control--top-right-corner .form__label, .form__group--checkbox-control-group .radio-control--top-right-corner .form__label {
  border-top-right-radius: 0.5rem;
}
.form__group--radio-control-group .radio-control--bot-right-corner .form__label, .form__group--checkbox-control-group .radio-control--bot-right-corner .form__label {
  border-bottom-right-radius: 0.5rem;
}
.form__group--radio-control-group .radio-control--bot-left-corner .form__label, .form__group--checkbox-control-group .radio-control--bot-left-corner .form__label {
  border-bottom-left-radius: 0.5rem;
}
.form__checkbox, .form__radio {
  display: none;
}
.form__checkbox + .form__label, .form__radio + .form__label {
  width: 100%;
  padding: 16px 0px;
  padding: 1.6rem 0rem;
  display: inline-block;
  cursor: pointer;
  line-height: 1;
}
.form__checkbox:checked + .form__label, .form__radio:checked + .form__label {
  background: #404041;
  color: white;
}
.form__input, .form__textarea {
  position: relative;
}
.form__input + .form__label, .form__textarea + .form__label {
  position: absolute;
  top: 0.375em;
  left: 0.375em;
  padding-bottom: 0;
}
.form__input:focus + .form__label, .form__textarea:focus + .form__label {
  font-size: 0.75em;
  top: auto;
  bottom: 100%;
  left: 0.375em;
  padding-bottom: 0;
}

/*------------------------------------*\
	@LAYOUT
\*------------------------------------*/
/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/*------------------------------------*\
    $GRID
\*------------------------------------*/
[class*="col--"] {
  width: 100%;
  display: inline-block;
  margin-bottom: 0.75em;
  vertical-align: top;
}

@media screen and (min-width: 37.5em) {
  .col--1-4, .col--1-6 {
    width: 50%;
  }
}
@media screen and (min-width: 50em) {
  .col--1-12 {
    width: 8.33333%;
  }

  .offset--1-12 {
    margin-left: 8.33333%;
  }

  .row--reverse > [class*='col--'] {
    float: right;
  }
  .row--reverse > [class*='offset--'] {
    margin-left: 0;
  }
  .row--reverse > .offset--1-12 {
    margin-right: 8.33333%;
  }
}
@media screen and (min-width: 50em) {
  .col--5-12 {
    width: 41.66667%;
  }

  .offset--5-12 {
    margin-left: 41.66667%;
  }

  .row--reverse > [class*='col--'] {
    float: right;
  }
  .row--reverse > [class*='offset--'] {
    margin-left: 0;
  }
  .row--reverse > .offset--5-12 {
    margin-right: 41.66667%;
  }
}
@media screen and (min-width: 50em) {
  .col--7-12 {
    width: 58.33333%;
  }

  .offset--7-12 {
    margin-left: 58.33333%;
  }

  .row--reverse > [class*='col--'] {
    float: right;
  }
  .row--reverse > [class*='offset--'] {
    margin-left: 0;
  }
  .row--reverse > .offset--7-12 {
    margin-right: 58.33333%;
  }
}
@media screen and (min-width: 50em) {
  .col--11-12 {
    width: 91.66667%;
  }

  .offset--11-12 {
    margin-left: 91.66667%;
  }

  .row--reverse > [class*='col--'] {
    float: right;
  }
  .row--reverse > [class*='offset--'] {
    margin-left: 0;
  }
  .row--reverse > .offset--11-12 {
    margin-right: 91.66667%;
  }
}
@media screen and (min-width: 50em) {
  .col--1-10 {
    width: 10%;
  }

  .offset--1-10 {
    margin-left: 10%;
  }

  .row--reverse > [class*='col--'] {
    float: right;
  }
  .row--reverse > [class*='offset--'] {
    margin-left: 0;
  }
  .row--reverse > .offset--1-10 {
    margin-right: 10%;
  }
}
@media screen and (min-width: 50em) {
  .col--3-10 {
    width: 30%;
  }

  .offset--3-10 {
    margin-left: 30%;
  }

  .row--reverse > [class*='col--'] {
    float: right;
  }
  .row--reverse > [class*='offset--'] {
    margin-left: 0;
  }
  .row--reverse > .offset--3-10 {
    margin-right: 30%;
  }
}
@media screen and (min-width: 50em) {
  .col--7-10 {
    width: 70%;
  }

  .offset--7-10 {
    margin-left: 70%;
  }

  .row--reverse > [class*='col--'] {
    float: right;
  }
  .row--reverse > [class*='offset--'] {
    margin-left: 0;
  }
  .row--reverse > .offset--7-10 {
    margin-right: 70%;
  }
}
@media screen and (min-width: 50em) {
  .col--9-10 {
    width: 90%;
  }

  .offset--9-10 {
    margin-left: 90%;
  }

  .row--reverse > [class*='col--'] {
    float: right;
  }
  .row--reverse > [class*='offset--'] {
    margin-left: 0;
  }
  .row--reverse > .offset--9-10 {
    margin-right: 90%;
  }
}
@media screen and (min-width: 50em) {
  .col--1-8 {
    width: 12.5%;
  }

  .offset--1-8 {
    margin-left: 12.5%;
  }

  .row--reverse > [class*='col--'] {
    float: right;
  }
  .row--reverse > [class*='offset--'] {
    margin-left: 0;
  }
  .row--reverse > .offset--1-8 {
    margin-right: 12.5%;
  }
}
@media screen and (min-width: 50em) {
  .col--3-8 {
    width: 37.5%;
  }

  .offset--3-8 {
    margin-left: 37.5%;
  }

  .row--reverse > [class*='col--'] {
    float: right;
  }
  .row--reverse > [class*='offset--'] {
    margin-left: 0;
  }
  .row--reverse > .offset--3-8 {
    margin-right: 37.5%;
  }
}
@media screen and (min-width: 50em) {
  .col--5-8 {
    width: 62.5%;
  }

  .offset--5-8 {
    margin-left: 62.5%;
  }

  .row--reverse > [class*='col--'] {
    float: right;
  }
  .row--reverse > [class*='offset--'] {
    margin-left: 0;
  }
  .row--reverse > .offset--5-8 {
    margin-right: 62.5%;
  }
}
@media screen and (min-width: 50em) {
  .col--7-8 {
    width: 87.5%;
  }

  .offset--7-8 {
    margin-left: 87.5%;
  }

  .row--reverse > [class*='col--'] {
    float: right;
  }
  .row--reverse > [class*='offset--'] {
    margin-left: 0;
  }
  .row--reverse > .offset--7-8 {
    margin-right: 87.5%;
  }
}
@media screen and (min-width: 50em) {
  .col--1-6 {
    width: 16.66667%;
  }

  .offset--1-6 {
    margin-left: 16.66667%;
  }

  .row--reverse > [class*='col--'] {
    float: right;
  }
  .row--reverse > [class*='offset--'] {
    margin-left: 0;
  }
  .row--reverse > .offset--1-6 {
    margin-right: 16.66667%;
  }
}
@media screen and (min-width: 50em) {
  .col--5-6 {
    width: 83.33333%;
  }

  .offset--5-6 {
    margin-left: 83.33333%;
  }

  .row--reverse > [class*='col--'] {
    float: right;
  }
  .row--reverse > [class*='offset--'] {
    margin-left: 0;
  }
  .row--reverse > .offset--5-6 {
    margin-right: 83.33333%;
  }
}
@media screen and (min-width: 50em) {
  .col--1-5 {
    width: 20%;
  }

  .offset--1-5 {
    margin-left: 20%;
  }

  .row--reverse > [class*='col--'] {
    float: right;
  }
  .row--reverse > [class*='offset--'] {
    margin-left: 0;
  }
  .row--reverse > .offset--1-5 {
    margin-right: 20%;
  }
}
@media screen and (min-width: 50em) {
  .col--2-5 {
    width: 40%;
  }

  .offset--2-5 {
    margin-left: 40%;
  }

  .row--reverse > [class*='col--'] {
    float: right;
  }
  .row--reverse > [class*='offset--'] {
    margin-left: 0;
  }
  .row--reverse > .offset--2-5 {
    margin-right: 40%;
  }
}
@media screen and (min-width: 50em) {
  .col--3-5 {
    width: 60%;
  }

  .offset--3-5 {
    margin-left: 60%;
  }

  .row--reverse > [class*='col--'] {
    float: right;
  }
  .row--reverse > [class*='offset--'] {
    margin-left: 0;
  }
  .row--reverse > .offset--3-5 {
    margin-right: 60%;
  }
}
@media screen and (min-width: 50em) {
  .col--4-5 {
    width: 80%;
  }

  .offset--4-5 {
    margin-left: 80%;
  }

  .row--reverse > [class*='col--'] {
    float: right;
  }
  .row--reverse > [class*='offset--'] {
    margin-left: 0;
  }
  .row--reverse > .offset--4-5 {
    margin-right: 80%;
  }
}
@media screen and (min-width: 50em) {
  .col--1-4 {
    width: 25%;
  }

  .offset--1-4 {
    margin-left: 25%;
  }

  .row--reverse > [class*='col--'] {
    float: right;
  }
  .row--reverse > [class*='offset--'] {
    margin-left: 0;
  }
  .row--reverse > .offset--1-4 {
    margin-right: 25%;
  }
}
@media screen and (min-width: 50em) {
  .col--3-4 {
    width: 75%;
  }

  .offset--3-4 {
    margin-left: 75%;
  }

  .row--reverse > [class*='col--'] {
    float: right;
  }
  .row--reverse > [class*='offset--'] {
    margin-left: 0;
  }
  .row--reverse > .offset--3-4 {
    margin-right: 75%;
  }
}
@media screen and (min-width: 50em) {
  .col--1-3 {
    width: 33.33333%;
  }

  .offset--1-3 {
    margin-left: 33.33333%;
  }

  .row--reverse > [class*='col--'] {
    float: right;
  }
  .row--reverse > [class*='offset--'] {
    margin-left: 0;
  }
  .row--reverse > .offset--1-3 {
    margin-right: 33.33333%;
  }
}
@media screen and (min-width: 50em) {
  .col--2-3 {
    width: 66.66667%;
  }

  .offset--2-3 {
    margin-left: 66.66667%;
  }

  .row--reverse > [class*='col--'] {
    float: right;
  }
  .row--reverse > [class*='offset--'] {
    margin-left: 0;
  }
  .row--reverse > .offset--2-3 {
    margin-right: 66.66667%;
  }
}
@media screen and (min-width: 50em) {
  .col--1-2 {
    width: 50%;
  }

  .offset--1-2 {
    margin-left: 50%;
  }

  .row--reverse > [class*='col--'] {
    float: right;
  }
  .row--reverse > [class*='offset--'] {
    margin-left: 0;
  }
  .row--reverse > .offset--1-2 {
    margin-right: 50%;
  }
}
.flex__item--2, .flex__item--4 {
  flex: 0 0 50%;
}

@media screen and (min-width: 37.5em) {
  .flex__item--1 {
    flex: 0 0 8.33333%;
  }

  .flex__item--2 {
    flex: 0 0 16.66667%;
  }

  .flex__item--3 {
    flex: 0 0 25%;
  }

  .flex__item--4 {
    flex: 0 0 33.33333%;
  }

  .flex__item--5 {
    flex: 0 0 41.66667%;
  }

  .flex__item--6 {
    flex: 0 0 50%;
  }

  .flex__item--7 {
    flex: 0 0 58.33333%;
  }

  .flex__item--8 {
    flex: 0 0 66.66667%;
  }

  .flex__item--9 {
    flex: 0 0 75%;
  }

  .flex__item--10 {
    flex: 0 0 83.33333%;
  }

  .flex__item--11 {
    flex: 0 0 91.66667%;
  }
}
/*------------------------------------*\
	@PAGE STRUCTURE
\*------------------------------------*/
.page__header .header__content {
  border-top: solid 0.375em #539a5a;
}
@media screen and (min-width: 50em) {
  .page__header .header__content {
    margin: 0 auto;
    position: relative;
    padding-top: 2.25em;
    padding-bottom: 2.25em;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .page__header .header__content > * {
    flex: 0 1 auto;
    text-align: left;
  }
}

.page__header .content__section {
  text-align: center;
  margin-bottom: 2.25em;
}
@media screen and (min-width: 50em) {
  .page__header .content__section {
    text-align: left;
  }
}

.header__img {
  overflow: hidden;
  border-radius: 12.5em;
  max-width: 11.25em;
  margin: 0 auto 2.25em;
}
@media screen and (min-width: 50em) {
  .header__img {
    max-width: 8.75em;
  }
}

@media screen and (min-width: 50em) {
  .header__img, .page__header .content__section {
    margin-bottom: 0;
  }
}
.page__header .header__title {
  font-size: 2.25em;
  line-height: 1.16667;
  margin-bottom: 0.6em;
}

.page__header .header__subtitle {
  font-size: 1.25em;
}
.page__header .header__subtitle:nth-child(2) {
  margin-bottom: 0;
}

.group--link {
  margin: 0 auto;
  text-align: center;
}
.group--link a, .group--link a:visited {
  color: #99999b;
  border-color: #99999b;
}
.group--link a:link, .group--link a:visited:link {
  -webkit-tap-highlight-color: transparent;
}
@media screen and (min-width: 50em) {
  .group--link {
    margin: 0;
    text-align: right;
  }
}
.group--link .list__item:last-child {
  font-size: 0.75em;
}
.group--link .list__item:last-child a, .group--link .list__item:last-child a:visited {
  padding: 0.5em;
  line-height: 2;
  color: #539a5a;
  font-weight: bold;
  text-decoration: none;
}
.group--link .list__item:last-child a:link, .group--link .list__item:last-child a:visited:link {
  -webkit-tap-highlight-color: transparent;
}

/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/
@media screen and (min-width: 37.5em) {
  .content--intro p {
    font-size: 1.125em;
    line-height: 1.66667;
    max-width: 38.88889em;
    margin: 0 auto;
  }
}

@media screen and (min-width: 50em) {
  .content--main, .content--social > .row {
    margin: 0 auto;
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  .content--column {
    flex: 0 1 50%;
  }
  .content--column:first-child {
    order: 2;
  }
}
@media screen and (min-width: 62.5em) {
  .content--social > .row {
    max-width: 75em;
  }
}
.content--social .section__title {
  text-transform: none;
}

@media screen and (max-width: 50em) {
  .content--column + .content--column {
    padding-top: 0;
  }
}

.content--description:last-child {
  padding-bottom: 0;
}
.content--description .content__header {
  padding-bottom: 0.75em;
}
.content--description .content__meta {
  margin-bottom: 0.85714em;
}

.content__block:last-child {
  padding-bottom: 0;
}
.content__block .content__header {
  padding-bottom: 0.75em;
}

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer__content {
  border-bottom: solid 0.375em #539a5a;
  text-align: center;
  padding: 2.25em 0 0.375em;
}
@media screen and (min-width: 50em) {
  .footer__content {
    text-align: right;
  }
}
.footer__content > * {
  font-size: 0.75em;
  padding-right: 0 0.375em;
  display: inline-block;
}
@media screen and (min-width: 50em) {
  .footer__content > * {
    padding: 0 1.5em;
  }
}

/*------------------------------------*\
	@TEXT Styles
\*------------------------------------*/
/*------------------------------------*\
	@COMPONENTS
\*------------------------------------*/
/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.button {
  display: inline-block;
  background: #404041;
  color: white;
  line-height: 1;
  padding: 0.75em;
  border: 0;
  text-align: center;
}
.button:hover, .button:focus {
  background: #404041;
  color: white;
}
.button--disabled {
  background: #404041;
  color: #404041;
}

.button {
  text-align: center;
  text-decoration: none;
  background-color: #404041;
  border-radius: 4px;
  text-shadow: 0 -1px -1px #2e2e2f;
  box-shadow: 0 4px 0 #2e2e2f, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
}
.button:hover {
  background-color: #404041;
  text-shadow: 0 -1px -1px #2e2e2f;
  box-shadow: 0 4px 0 #2e2e2f, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
}
.button:active {
  margin-top: 4px;
  box-shadow: none;
}

/* Block */
.block--social.social--gallery {
  padding: 0;
}
@media screen and (min-width: 50em) {
  .block--social {
    padding-left: 1.5em;
    padding-right: 1.5em;
    flex: 0 1 33%;
  }
}

.block--education .title--alt {
  margin-bottom: 0.3em;
}

.block--education .content--focus {
  margin-top: 1.5em;
  margin-bottom: 0.375em;
}

/* Hero Block */
/* Block Thumbnail with Headline */
.social--github .social__item {
  text-align: right;
  font-weight: bold;
  position: relative;
  padding: 0.75em;
  background: #ededed;
  border-radius: 0.375em;
}
.social--github .item__title {
  display: block;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: auto;
  width: 80%;
}
.social--github .item__link, .social--github .item__meta {
  display: inline-block;
  text-align: right;
}
.social--github .item__link {
  padding-right: 0.75em;
}
.social--github .item__meta {
  color: #99999b;
}

.icon--github {
  position: absolute;
  height: 100%;
  width: auto;
  max-width: 2.625em;
  max-height: 2.625em;
  left: 0.75em;
  top: 0.75em;
}

.gallery__item {
  margin: 0;
  flex: 0 1 50%;
}
@media screen and (min-width: 40em) {
  .gallery__item {
    flex: 0 1 33.3%;
  }
}
@media screen and (min-width: 50em) {
  .gallery__item {
    flex: 1;
  }
}

.gallery__item .item__description {
  display: none;
}

.social--single .meta--time {
  text-align: right;
}
.social--single .meta--time a, .social--single .meta--time a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #99999b;
}
.social--single .meta--time a:link, .social--single .meta--time a:visited:link {
  -webkit-tap-highlight-color: transparent;
}

.social--lastfm {
  flex-flow: row nowrap;
  width: auto;
  justify-content: flex-start;
  align-items: center;
}

.social--lastfm .social__img, .social--lastfm .social__content {
  flex: 0 1 auto;
}

.social--lastfm .social__img {
  max-width: 6.25em;
}

.social--lastfm .social__content {
  padding-left: 1.5em;
}
.social--lastfm .social__content > p {
  color: #99999b;
  font-size: 0.875em;
  line-height: 1.71429;
  margin-bottom: 0.42857em;
}
.social--lastfm .social__content .item__title {
  font-weight: bold;
  margin-bottom: 0.375em;
}

.container--modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgba(35, 35, 35, 0.5);
}

.block--modal {
  position: absolute;
  display: block;
  z-index: 11;
  top: 10vh;
  height: 80vh;
  width: 80vw;
  margin: 0 10vw;
  padding: 0.75em 1.5em;
  background: white;
  overflow-y: scroll;
}
.block--modal .social__item {
  background: transparent;
  padding: 0.75em 0;
  border-radius: 0;
  border-bottom: 1px solid #ededed;
}
.block--modal .social__item:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.block--modal .item__title {
  width: 100%;
}
.block--modal .icon--github {
  left: 0.375em;
  top: 0.375em;
  max-height: 2.25em;
  max-width: 2.25em;
}
.block--modal .section__title {
  font-size: 1.25em;
  text-transform: none;
  font-weight: bold;
  color: #404041;
  margin-bottom: 0;
  padding-left: 1.2em;
}
.block--modal .section__content {
  display: block;
  font-size: 0.875em;
  padding: 0.85714em 0;
  margin-bottom: 0.85714em;
}
@media screen and (min-width: 37.5em) {
  .block--modal {
    width: 80%;
    left: 10%;
    margin: 0;
  }
}
@media screen and (min-width: 50em) {
  .block--modal {
    width: 60%;
    left: 20%;
  }
}

/*# sourceMappingURL=style.css.map */
