/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/


/*------------------------------------*\
    $GRID
\*------------------------------------*/

// We're iterating through a Sass list to build out the grid. Inside each parentheses is
// a column (the column width is the first number in the list). The column spans are
// the remaining values. This helps limit the excess bloat by not creating the same
// classes in different columns - ie col-1-2 & col-2-4

// LIST LOCATION : _05-placeholders&silents.scss

[class*="col--"] {
        width: 100%;
        display: inline-block;
        margin-bottom: $space;
        vertical-align: top;
}

@include bp--s {
        .col--1-4, .col--1-6 {
                width: col_size(1, 2);
        }
}

$cols: (12: 1 5 7 11, 10: 1 3 7 9, 8: 1 3 5 7, 6: 1 5, 5: 1 2 3 4, 4: 1 3, 3: 1 2, 2: 1);

$col_arr: ();

@each $col, $spans in $cols {
    @each $size in $spans {
        $current_col: ();
            $current_col: '.col-';
            $current_col: append($current_col, $size);
            $current_col: append($current_col, $col);
            $current_col: to-string($current_col, '-');
            @if $col == 12 and $size == 1 {
                $col_arr: append($col_arr, $current_col);
            }@else {
                $col_arr: append($col_arr, $current_col, comma);
            }

        @include bp--m {
            .col--#{$size}-#{$col} {
                width: col_size($size, $col);
            }

            .offset--#{$size}-#{$col} {
                margin-left: col_size($size, $col);
            }

            .row--reverse {
                > [class*='col--'] { float: right; }
                > [class*='offset--'] { margin-left: 0; }
                > .offset--#{$size}-#{$col} {
                        margin-right: col_size($size, $col);
                }
            }
        }
    }
}

.flex__item--2, .flex__item--4 {
        flex: 0 0 50%;
}

@include bp--s {
    .flex__item--1 {
        flex: 0 0 percentage(1/12);
    }
    .flex__item--2 {
        flex: 0 0 percentage(2/12);
    }
    .flex__item--3 {
        flex: 0 0 percentage(3/12);
    }
    .flex__item--4 {
        flex: 0 0 percentage(4/12);
    }
    .flex__item--5 {
        flex: 0 0 percentage(5/12);
    }
    .flex__item--6 {
        flex: 0 0 percentage(6/12);
    }
    .flex__item--7 {
        flex: 0 0 percentage(7/12);
    }
    .flex__item--8 {
        flex: 0 0 percentage(8/12);
    }
    .flex__item--9 {
        flex: 0 0 percentage(9/12);
    }
    .flex__item--10 {
        flex: 0 0 percentage(10/12);
    }
    .flex__item--11 {
        flex: 0 0 percentage(11/12);
    }
}
