.page__header .header__content {
    @extend %space-n;
    
        border-top: solid calc_ems(6) $color-green;
		
		@include bp--m {
			margin: 0 auto;
	   		position: relative;
			padding-top: calc_ems(36);
			padding-bottom: calc_ems(36);
	   		width: 100%;
        	display: flex;
        	flex-flow: row nowrap;
        	justify-content: space-between;
			align-items: center;
			
			> * {
				flex: 0 1 auto;
				text-align: left;
			}
		}
}

.page__header .content__section {
    text-align: center;
	margin-bottom: calc_ems(36);
	
	@include bp--m {
		text-align: left;
	}
}

.header__img {
    overflow: hidden;
    border-radius: calc_ems(200);
    max-width: calc_ems(180);
    margin: 0 auto calc_ems(36);
	
	@include bp--m {
		max-width: calc_ems(140);
	}
}

@include bp--m {
	.header__img, .page__header .content__section {
		margin-bottom: 0;
	}
}

.page__header .header__title {
    font-size: calc_ems(36);
    line-height: (42/36);
    margin-bottom: calc_ems(24, 4);
}

.page__header .header__subtitle {
    &:nth-child(2) {
        margin-bottom: 0;
    }
    font-size: calc_ems(20);
}

.group--link {
	margin: 0 auto;
    text-align: center;
    @include href {
        color: $color-med;
        border-color: $color-med;
    }
	
	@include bp--m {
		margin: 0;
		text-align: right;
	}
	
	.list__item:last-child {
		font-size: calc_ems(12);
		
		@include href {
			padding: calc_ems(6, 1.2);
			line-height: (24/12);
			color: $color-green;
			font-weight: bold;
			text-decoration: none;
		}
	}
}