/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/

.content--intro {
    @extend %bg-color--light;
    @extend %space-n;
    
    @include bp--s {
        p {
            font-size: calc_ems(18);
            line-height: (30/18);
            max-width: calc_ems(700, 1.8);
            margin: 0 auto;
        }
    }
}

@include bp--m {
    .content--main, .content--social > .row {
        margin: 0 auto;
	   position: relative;
	   width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }
    .content--column {
      flex: 0 1 50%;
      
      &:first-child {
          order: 2;
      }
    }
}

@include bp--l {
    .content--social > .row {
        max-width: calc_ems(1200);
    }
}

.content--social {
    @extend %bg-color--light;
}

.content--social .section__title {
    text-transform: none;
}

.content--column {
    @extend %space-n;
    
    @include bp--max(800) {
        + .content--column {
            padding-top: 0;
        }
    }
}

.content--description {
    @extend %space-n-bottom;
    
    &:last-child {
        padding-bottom: 0;
    }
    
    .content__header {
        padding-bottom: calc_ems(12);
    }
    
    .content__meta {
        margin-bottom: calc_ems(12, 1.4);
    }
}

.content__block {
    @extend %space-n-bottom;
    
    &:last-child {
        padding-bottom: 0;
    }
    
    .content__header {
        padding-bottom: calc_ems(12);
    }
}