/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer--site {}

.page__footer {
    @extend %bg-color--light;
}

.footer__content {
    border-bottom: solid calc_ems(6) $color-green;
    text-align: center;
    padding: calc_ems(36) 0 calc_ems(6);
    
    @include bp--m {
        text-align: right;
    }
    
    > * {
        font-size: calc_ems(12);
        padding-right: 0 calc_ems(6);
        display: inline-block;
        
        @include bp--m {
            padding: 0 calc_ems(24);
        }
    }
}

.copyright {
}