/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

@mixin button($color: $color-dark, $text: $color-white) {
  display: inline-block;
  @include button-up($color, $text);
  &:hover, &:focus {
    @include button-hover($color, $text);
  }
  &:active {
    @include button-down($color, $text);
  }
}

@mixin button-up($color, $text) {
  background: $color;
  border-radius: 0.25em;
  color: $text;
  font-size: 1em;
  text-align: center;
  padding: 0.5em 1em;
  letter-spacing: 0.05em;
  box-shadow: 0 0.0625em 0.0625em rgba($color-dark, 0.5), inset 0 0.125em 0.125em rgba(lighten($color, 15%), 0.35), inset 0 -0.125em 0.125em rgba(darken($color,15%) , 0.2);
  text-shadow: 0 0.0625em 0.0625em $color-dark;
}

@mixin button-hover($color, $text: $color-white) {
  background: lighten($color, 3%);
  box-shadow: inset 0 0.125em 0.125em rgba(lighten($color, 15%), 0.5), inset 0 -0.125em 0.125em rgba(darken($color,15%) , 0.4);
  color: $text;
}

@mixin button-down($color, $text: $color-white) {
	background: darken($color, 3%);
	padding: 0.55em 1em 0.45em;
	color: $text;
	box-shadow: 0 0.0625em 0.0625em rgba(darken($color,15%) , 0.5), inset 0 0.0625em 0.0625em rgba(lighten($color, 15%), 0.35), inset 0 -0.0625em 0.0625em rgba(darken($color,15%) , 0.2);
}

.button {
	display: inline-block;
	background: $color-dark;
	color: $color-white;
	line-height: 1;
	padding: $space;
	border: 0;
	text-align: center;
	&:hover, &:focus {
		background: $color-dark;
		color: $color-white;
	}
	&--alt {

	}
	&--disabled {
		background: $color-dark;
		color: $color-dark;
	}
}

.button {
  text-align: center;
  text-decoration: none;
  background-color: $color-dark;
  border-radius: 4px;
  text-shadow: 0 -1px -1px darken($color-dark, 7%);
  box-shadow: 0 4px 0 darken($color-dark, 7%), 0 5px 5px 1px rgba(0,0,0,0.4);

  &:hover{
    background-color: $color-dark;
    text-shadow: 0 -1px -1px darken($color-dark, 7%);
    box-shadow: 0 4px 0 darken($color-dark, 7%), 0 5px 5px 1px rgba(0,0,0,0.4);
  }
  &:active {
    margin-top: 4px;
    box-shadow: none;
  }
}