/* Block */
.block--headline {

}

.block--social {
    @extend %space-n;
    
    &.social--gallery {
        padding: 0;
    }
    
    @include bp--m {
        padding-left: calc_ems(24);
        padding-right: calc_ems(24);
        flex: 0 1 33%;
    }
}

.block--education .title--alt {
    margin-bottom: calc_ems(6, 2);
}

.block--education .content--focus {
    margin-top: 1.5em;
    margin-bottom: calc_ems(6);
}

/* Hero Block */
.block--hero {

}

/* Block Thumbnail with Headline */
.block--thumb {

}

.social--github {
    .social__item {
        text-align: right;
        font-weight: bold;
        position: relative;
        padding: $space;
        background: darken($color-light, 5%);
        border-radius: calc_ems(6);
    }
    .item__title {
        @extend %text-truncate;
        display: block;
        margin-bottom: 0;
        margin-right: 0;
        margin-left: auto;
        width: 80%;
    }
    .item__link, .item__meta {
        display: inline-block;
        text-align: right;
    }
    .item__link {
        padding-right: $space;
    }
    .item__meta {
        color: $color-med;
    }
}

.icon--github {
    position: absolute;
    height: 100%;
    width: auto;
    max-width: calc_ems(42);
    max-height: calc_ems(42);
    left: $space;
    top: $space;
}

.gallery__item {
    margin: 0;
    flex: 0 1 50%;
    
    @include bp(640) {
        flex: 0 1 33.3%;
    }
    
    @include bp--m {
        flex: 1;
    }
}

.gallery__item .item__description {
    display: none;
}

.social--single .meta--time {
    text-align: right;
    @include href {
        text-decoration: none;
        font-weight: bold;
        color: $color-med;
    }
}

.social--lastfm {
    @extend %row--flex;
    flex-flow: row nowrap;
    width: auto;
    justify-content: flex-start;
    align-items: center;
}

.social--lastfm .social__img, .social--lastfm .social__content {
    flex: 0 1 auto;
}

.social--lastfm .social__img {
    max-width: calc_ems(100);
}

.social--lastfm .social__content {
    padding-left: calc_ems(24);
    
    > p {
        color: $color-med;
        font-size: calc_ems(14);
        line-height: (24/14);
        margin-bottom: calc_ems(6, 1.4);
    }
    
    .item__title {
        font-weight: bold;
        margin-bottom: calc_ems(6);
    }
}

.container--modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: transparent($color-black);
}

.block--modal {
    position: absolute;
    display: block;
    z-index: 11;
    top: 10vh;
    height: 80vh;
    width: 80vw;
    margin: 0 10vw;
    padding: calc_ems(12) calc_ems(24);
    background: $color-white;
    overflow-y:scroll;
    
    .social__item {
        background: transparent;
        padding: $space 0;
        border-radius: 0;
        border-bottom: 1px solid darken($color-light, 5%);
        &:last-child {
            padding-bottom: 0;
            border-bottom: 0;
        }
    }
    
    .item__title {
        width: 100%;
    }
    
    
    .icon--github {
        left: calc_ems(6);
        top: calc_ems(6);
        max-height: calc_ems(36);
        max-width: calc_ems(36);
    }
    
    .section__title {
        font-size: calc_ems(20);
        text-transform: none;
        font-weight: bold;
        color: $color-dark;
        margin-bottom: 0;
        padding-left: calc_ems(24, 2);
    }
    
    .section__content {
        display: block;
        font-size: calc_ems(14);
        padding: calc_ems(12, 1.4) 0;
        margin-bottom: calc_ems(12, 1.4);
    }
    
    @include bp--s {
        width: 80%;
        left: 10%;
        margin: 0;
    }
    @include bp--m {
        width: 60%;
        left: 20%;
    }
}