html {
	::-moz-selection {
	    background-color: $color-custom;
	    color: #fff;
	}
	::selection {
	    background-color: $color-custom;
	    color: #fff;
	}
  height: 100%;
  font-size: $defined-font-size;
}

body {
	background: white;
	font-size: 1.6em;
	line-height: $baseline;
	font-family: $font-body;
	-webkit-text-size-adjust: 100%;
	color: $color-dark;
}

ul li, ul ol {
	vertical-align: top;
}

p:last-child {
	margin-bottom: 0;
}

address {
	font-size: calc_ems(14);
	line-height: (24/14);
	font-style: normal;
	
}

.content__meta {
	font-size: calc_ems(14);
	color: $color-med;
	letter-spacing: 0.05em;
	line-height: (24/14);
}

.group--link .link__item {
	display: inline-block;
	padding: calc_ems(6);
}

.group--link .icon {
	padding-right: calc_ems(6);
}