/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	@extend %font--h;
	margin-top: 0;
	margin-bottom: 2.4rem;
}



/* Subheadings */
.heading--sub {
}

.heading-group {
	h1 + h2 {
	}
}

/* Titles */

.section__title {
	@extend %font--b;
	font-weight: normal;
	color: $color-green;
	text-transform: uppercase;
	
	span {
		color: $color-med;
	}
}

.content__title {
	font-size: calc_ems(24);
	line-height: 1;
	margin-bottom: calc_ems(12, 2.4);
}

.content__subtitle {
	font-weight: bold;
}

.title--alt {
	@extend %font--b;
	font-size: calc_ems(20);
	line-height: 1.2;
	margin-bottom: calc_ems(12, 2);
}
