/* Text-Related Elements */
p {
	margin-bottom: $space-double;
	margin-top: 0;
}

/* == $INLINE ELEMENTS == */

time {}

small {}

sup {}

sub {}

strike {}

abbr {
    @include border(bottom 0.1rem dotted $color-dark);
    cursor: help;
}

p {
    &.caption {}
    &.footnote {}
}
