ol, ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list--single {}

.list--unordered .list__item {
	position: relative;
	margin-bottom: $space;
	&:before {
		content:$spec-char-hyphen$spec-char-nbsp;
		height: 1em;
		width: 0.7em;
		position: absolute;
		right: 100%;
		top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

ol {
	counter-reset:li;
	li {

	}
	> li {
		position: relative;
		&:before {
			content:counter(li)"\002E\00a0";
    		counter-increment:li;
			color: $color-text-light;
		}
	}
}

ul {
	li {

	}
	&--bulleted {
		> li {
			&:before {
				content:$spec-char-hyphen$spec-char-nbsp;
				color: $color-text-light;
			}
		}
	}
}

/* Definition Lists */
dl {
	overflow: hidden;
	margin: 0 0 $space;
}
dt {
	font-weight: bold;
}

dd {
	margin-left: 0;
}