/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/

/* Flexible Media */
img, video, object {
	max-width: 100%;
	height: auto;
}

.icon {
	height: calc_ems(24);
	width: calc_ems(24);
	vertical-align: middle;
}
