/*------------------------------------*\
    $FORMS
\*------------------------------------*/
form ol, form ul {
	list-style: none;
	margin-left: 0;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

label {
	display: block;
	@include padding(bottom $space);
}

button, input, select, textarea {
    font-family: inherit;
    margin: 0;
}

input, textarea {
	width: 100%;
	border: none;
	@include padding($space-half);
}

input[type=text], input[type=url], input[type=number], textarea {
	background: $color-dark;
	-webkit-appearance: none;
}

input[type="submit"] {
	@include padding( $space-half $space);
	background: $color-dark;
	border: none;
	cursor: pointer;
}


//Form Field Container
.field-container {
	@include margin(bottom $space);
}

.inline-form {
	fieldset, .inline-container {
		position: relative;
	}

	input[type=submit], button, .button {
		@include padding($space-half $space);
		background: $color-dark;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		width: auto;

		&:hover, &:focus {
			background: $color-dark;
			color: $color-white;
		}
	}
}
$radio-color: $color-dark;
.form {
	&__module {
		position: relative;
		.item-status{
			position: absolute;
			bottom: 100%;
			right: 0;
			@include margin(bottom 1.2);
			z-index: 15; // Placeholder is 10
		}
	}
	&__group {

		@include bp(769) {
			max-width: $max-width;
			margin: 0 auto;
		}

		.form__module {
			display: inline-block;
			width: $col-1-3;
			text-align: center;
		}
		&--radio-control-group, &--checkbox-control-group {
			$rcg_br: 0.5rem;
			border-radius: 0.8rem;
			@include border(0.2 solid $radio-color);

			.form__module {
				.form__label {
					// @include border(left 0.1 solid $radio-color);

				}
				&:first-child {
					border-top-left-radius: $rcg_br;
					border-bottom-left-radius: $rcg_br;
					.form__label {
						border-left: none;
					}
				}
				&:last-child {
					border-top-right-radius: $rcg_br;
					border-bottom-right-radius: $rcg_br;
					float: right;
				}
			}
			.form__label {
				color: $radio-color;
			}
			.radio-control {
				&--bottom {
					.form__label {
						border-bottom: none;
					}
				}
				&--top-left-corner {
					.form__label {
						border-top-left-radius: $rcg_br;
					}
				}
				&--top-right-corner {
					.form__label {
						border-top-right-radius: $rcg_br;
					}
				}
				&--bot-right-corner {
					.form__label {
						border-bottom-right-radius: $rcg_br;
					}
				}
				&--bot-left-corner {
					.form__label {
						border-bottom-left-radius: $rcg_br;
					}
				}
			}

		}
	}
	&__input {

	}
	&__select {

	}
	&__checkbox, &__radio {
		display: none;
		+ .form__label {
			width: 100%;
			@include padding(1.6 0);
			display: inline-block;
			cursor: pointer;
			line-height: 1;
		}
		&:checked {
			+ .form__label {
				background: $radio-color;
				color: $color-white;
			}
		}
	}
	&__textarea {

	}
	&__range {

	}
	&__color-pick {

	}
	&__button, .button, button {

	}
	&__input, &__textarea {
		position: relative;
		+ .form__label {
			position: absolute;
			top: $space-half;
			left: $space-half;
			padding-bottom: 0;
		}
		&:focus {
			+ .form__label {
			font-size: calc_ems(12);
			top: auto;
			bottom: 100%;
			left: $space-half;
			padding-bottom: 0;
		}
		}
	}
}
