
/*------------------------------------*\
    FUNCTIONS
\*------------------------------------*/


/**
 * CLAMP
 *  Clamps the number between a min and max. So 4 in a 1-3 clamp would be 3
 *  Usage: clamp(4, 1, 3); Returns 3
 */

@function clamp($value, $min, $max) {
  @return if($value > $max, $max, if($value < $min, $min, $value));
}


/**
 * REMOVE DUPLICATES
 *  Remove duplicate items in a list
 *  Usage: remove-duplicates(4 3 2 5 4 3);
 *  would output as 4 3 2 5
 */

@function remove-duplicates($list) {
  $result: ();

  @each $item in $list {
    @if not index($result, $item) {
      $result: append($result, $item, list-separator($list));
    }
  }

  @return $result;
}


/**
 * CONTAIN
 *  Returns true if current list includes value
 *  Usage: contain(dog cat bird, dog); Returns true
 */

@function contain($list, $value) {
  $validity: ();
  @if type-of($value) == list {
    @each $item in $value {
      @if $validity == true {
        $validity: true;
      } @else {
        $validity: not not index($list, $item);
      }
    }
    } @else {
      $validity: not not index($list, $value);
    }
    @return $validity;
}


/**
 * INTERSECTION
 *  Returns shared values between lists. Value must be present on all included lists
 *  Usage: intersection(a b c d, c b d, c); Returns c
 */

@function intersection($list, $lists...) {
  $result: $list;

    @each $list in $lists {
      $temp: ();

      @each $item in $result {
        @if not not index($list, $item) {
          $temp: append($temp, $item, list-separator($list));
        }
      }

      $result: $temp;
    }

    $result: remove-duplicates($result);
    @return if(length($result) == 1, nth($result, 1), $result);
  }


/**
 * REMOVE
 *  Remove an item from a list
 *  Usage: remove(a b c d, c); Returns abd
 */

@function remove($list, $value) {
  $result: ();

  @for $i from 1 through length($list) {
    @if nth($list, $i) != $value {
      $result: append($result, nth($list, $i));
    }
  }

  @return $result;
}


/**
 * TO STRING
 *  Turn a list into a deliminated string
 *  Usage: to-string(h1 h2 h3 h4, ', '); Returns h1, h2, h3, h4
 */

@function to-string($list, $glue: '', $is-nested: false) {
  $result: null;

  @for $i from 1 through length($list) {
    $e: nth($list, $i);

    @if type-of($e) == list {
      $result: $result#{to-string($e, $glue, true)};
    }

    @else {
      $result: if($i != length($list) or $is-nested, $result#{$e}#{$glue}, $result#{$e});
    }
  }

  @return $result;
}


/**
 * STRIP-UNIT
 *  Remove unit of measure from a number
 *  Usage: strip-unit(72px); Returns 72
 */

@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}



/**
 * COLUMN SIZE
 *  Alias for percentage(); with round();
 *  Usage: col_size(1, 2); Returns 50%
 */

@function col_size($span, $col_size) {
    @return percentage($span / $col_size);
}


/**
 * TRANSPARENT
 *  Adds rgb and alpha transparency to color
 *  Usage: transparent(#fff, 0.7); Returns rgba(255, 255, 255, 0.7);
 */

@function transparent($color, $opacity: 0.50) {
  @return rgba($color, if( $opacity < 1, $opacity, $opacity / 100 ));
}



/**
 * CALCULATE RELATIVE EMS
 *  Calculate precise ems on the fly from px related input. OPTIONAL - multiplier if base isn't 1.6 
 *  Usage: calc_ems(36, 1.5); Returns 2.25em;
 */

$multi: 1.6 !global;

@function calc_ems($num_input, $m: 1.6) {
  @if length($num_input) < 2 {
    @if unit(nth($num_input, 1)) == 'em' {
      @return nth($num_input, 1);
    }@else {
      @return nth($num_input, 1) / (strip-unit($m) * 10) * 1em;
    }
  }@else {
    $alter_nums: null;
    @each $num in $num_input {
      @if unit($num) == 'em' {
        $alter_nums: append($alter_nums, $num);
      }@else {
        $alter_nums: append($alter_nums, $num / (strip-unit($m) * 10) * 1em);
      }
    }
    @return $alter_nums;
  }
}