/*------------------------------------*\
    $MIXINS
\*------------------------------------*/

/* == ^BORDER == */
  // Streamlined method of writing border properties
  // Usage: @include border(top 0.2em solid #fff, right 0);

@mixin border($borders...) {
  $px : ();
  $rem : ();
    // @debug $borders;
    // @debug type-of( nth($borders, 1) );
    @each $border in $borders {
      // @debug type-of( nth($border, 1) );
      // @debug $border;
    @if type-of( nth($border, 1) ) == number {
      // @debug length($border);

        $size  : nth($border, 1);
        $style  : nth($border, 2);
        $color : nth($border, 3);

        // @debug $size;
        // @debug $style;
        // @debug $color;

        $px : strip-unit($size) * 10 * 1px;
        $px : append($px, $style);
        $px : append($px, $color);

        $rem : strip-unit($size) * 1rem;
        $rem : append($rem, $style);
        $rem : append($rem, $color);

        border: $px;
        border: $rem;

    } @else if type-of( nth($border, 1) ) == string {
      // @debug length($border);

        $position: nth($border, 1);
        $size  : nth($border, 2);
        $style  : nth($border, 3);
        $color : nth($border, 4);

        $px : strip-unit($size) * 10 * 1px;
        $px : append($px, $style);
        $px : append($px, $color);

        $rem : strip-unit($size) * 1rem;
        $rem : append($rem, $style);
        $rem : append($rem, $color);

        border-#{$position}: $px;
        border-#{$position}: $rem;
    }
  }
}

/* == ^SPACING == */
  // Streamlined method to write out long-hand spacing
  // Used more for padding and margin mixins

@mixin spacing($type, $args, $important: null) {

     // List of offsets to check for in $args

    $offsets: top right bottom left;

     // We loop through $offsets to deal with them one by one

    @if contain($args, $offsets) {

      @each $o in $offsets {


             // If current offset found in $args
             // assigns its index to $i
             // Or `false` if not found

            $i: index($args, $o);


             // Now we do the verifications
             // 1. Is the offset listed in $args? (not false)
             // 2. Is the offset value within the list range?
             // 3. Is the offset value valid?

            @if $i                                        // 1
            and $i + 1 <= length($args)                   // 2
            and type-of( nth($args, $i + 1) ) == number { // 3


                 // If everything is okay
                 // We assign the according value to the current offset

                #{$type}-#{$o}: ( strip-unit(nth($args, $i + 1)) * 10 * 1px);
                #{$type}-#{$o}: ( strip-unit(nth($args, $i + 1)) * 1em);
            }
        }
      } @else {
        $px: ();
        $rem: ();
        @each $arg in $args {
          $px: append($px, (strip-unit($arg) * 10 * 1px));
          $rem: append($rem, (strip-unit($arg) * 1rem));
        }
        #{$type}: $px;
        #{$type}: $rem;
      }
}



/* == ^MARGIN & PADDING == */
  // Using the spacing mixin to better write long-hand
  // spacing elements
  // Usage: @include margin(right 0.2 left 0.5);

@mixin margin($values) {
  @include spacing(margin, $values);
}

@mixin padding($values) {
  @include spacing(padding, $values);
}


@mixin absolute($args) {
    @include position(absolute, $args);
}

@mixin fixed($args) {
    @include position(fixed, $args);
}

@mixin relative($args) {
    @include position(relative, $args);
}

@mixin heading-font {
  font-family: $font-heading;
}

@mixin col-style {
	display: inline-block;
	vertical-align: top;
}

@mixin offset($amount, $reverse:false) {
	@if not $reverse {
		margin-left: $amount;
	}@else {
		margin-right: $amount;
	}
}

/* Media Queries - ems based on 16px font size
	Usage: @include breakpoint(481) {}
*/

@mixin keep-text-inside-container {
  -ms-word-break: break-all;

       // Be VERY careful with this, breaks normal words wh_erever
       word-break: break-all;

       // Non standard for webkit
       word-break: break-word;

  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}





@mixin bp($breakpoints...) {
  @if $breakpoints == '2x' {
    @media screen and (min--moz-device-pixel-ratio: 1.5),
     (-o-min-device-pixel-ratio: 3.0/2),
     (-webkit-min-device-pixel-ratio: 1.5),
     (min-device-pixel-ratio: 1.5),
     (min-resolution: 1.5dppx) { @content; }
  }@else {
    $constraint-check: min max;
    $constraints: ();
    $sizes: ();
    @for $i from 1 through length($breakpoints) {
      @if type-of(nth($breakpoints, $i)) == string {
        @if contain(nth($breakpoints, $i), $constraint-check) {
          $constraints: append($constraints, nth($breakpoints, $i));
        }@else {
          @warn "#{$breakpoint} is not a valid breakpoint constraint";
        }
      }@elseif type-of(nth($breakpoints, $i)) == number {
        $sizes: append($sizes, strip-unit(nth($breakpoints, $i)));
      }
    }
    @if length($sizes) > 1 {
      @media screen and (min-width: calc_ems(min($sizes))) and (max-width: calc_ems(max($sizes))) { @content; }
    }@elseif length($constraints) == 1 {
      @media screen and (#{$constraints}-width: calc_ems($sizes)) { @content; }
    }@else {
      @media screen and (min-width: calc_ems($sizes)) { @content; }
    }
  }
}

@mixin bp--max($size) {
	@media screen and (max-width: calc_ems($size)) { @content; }
}

// QUICK MIXINS

@mixin bp--s {
  @include bp($bp--s) { @content; }
}

@mixin bp--m {
  @include bp($bp--m) { @content; }
}

@mixin bp--l {
  @include bp($bp--l) { @content; }
}

@mixin bp--xl {
  @include bp($bp--xl) { @content; }
}



/* == ^BUTTON-UP == */
  // Mimic the button up state
  // Usage: @include button-up(#fff, #000);

@mixin button-up($color, $text) {
  @extend %transition-reg;
  background: translucent($color, 0.8);
  border-radius: 0.25em;
  color: $text;
  font-size: 1em;
  border-radius: 0.25em;
  text-align: center;
  padding: 0.5em 1em;
  letter-spacing: 0.05em;
}



/* == ^BUTTON-HOVER == */
  // Mimic the button-hover state
  // Usage: @include button-hover(#fff, #000);

@mixin button-hover($color, $text: $color-white) {
  background: $color;
  color: $text;
}




/* == ^BUTTON-DOWN == */
  // Mimic the button-down state
  // Usage: @include button-hover(#fff, #000);

@mixin button-down($color, $text: $color-white) {
  background: translucent($color, 0.6);
  box-shadow: none;
}

/* Shortened Href
*/

@mixin href {
	a, a:visited {
		@content;
		&:link {
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		}
	}
}

/* Hover State
*/

@mixin hover {
	&:hover, &:focus { @content; }
}

/* Transitions
*/

@mixin transition($property, $speed) {
  // defining prefixes so we can use them in mixins below
  $prefixes:      ("-webkit-", "-moz-", "");
  @each $prefix in $prefixes {
    #{$prefix}transition: $property $speed;
  }
}



/* == ^TRANSITIONS == */
  // Cohesive method to include
  // transitions
  // Usage: @include transition-fast(all);

@mixin transition-fast($properties: null) {
  @if $properties {
    @each $property in $properties {
      @include transition($property, $transition-fast);
    }
  } @else {
    @extend %transition-fast;
  }
}

@mixin transition-reg($properties: null) {
  @if $properties {
      @each $property in $properties {
        @include transition($property, $transition-reg);
      }
    } @else {
      @extend %transition-reg;
    }
}

@mixin transition-slow($properties: null) {
  @if $properties {
      @each $property in $properties {
        @include transition($property, $transition-slow);
      }
    } @else {
      @extend %transition-slow;
    }
}



/* Position
*/

@mixin position($position, $args) {
    $offsets: top right bottom left;

    @each $o in $offsets {
        $i: index($args, $o);
        @if $i                                      /* 1 */
        and $i + 1 <= length($args)                 /* 2 */
        and type-of( nth($args, $i + 1) ) == number /* 3 */ {
            #{$o}: nth($args, $i + 1);
        }
    }
    position: $position;
}

/* Position Uses
* Simplify the position cases for absolute, fixed, and relative
* Usage @include absolute(top 1em left 1em);
* Outputs:
* ...position: absolute;
* ...top: 1em;
* ...left: 1em;
*/

@mixin absolute($args) {
    @include position(absolute, $args);
}

@mixin fixed($args) {
    @include position(fixed, $args);
}

@mixin relative($args) {
    @include position(relative, $args);
}