/*====================================*\
	PLACEHOLDERS & SILENT CLASSES
\*====================================*/

%alert {

}

%clearfix {
	*zoom: 1;
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

%max-width {
	max-width: $max-width;
}

%margin-center {
	margin: 0 auto;
}

%row-char {
	margin: 0 auto;
	position: relative;
}

%max-width--readable {
	max-width: $max-width--readable !important;
}

/*------------------------------------*\
    $TEXT ALTERING
\*------------------------------------*/

%text-bp-size {
	font-size: 16px;
	font-size: 1.6rem;
}

%font--h {
	font-family: $font-heading;
}

%font--b {
	font-family: $font-body;
}

%heading-weight--bold {
	font-weight: $weight-bold;
}

%heading-weight--normal {
	font-weight: $weight-normal;
}

%heading-weight--light {
	font-weight: $weight-light;
}

%font-weight--normal {
	@extend %heading-weight--normal;
}

%font-style--italic {
	font-style: $style-italic;
}

%font-style--normal {
	font-style: $style-normal;
}

%text-align--left {
	text-align: left;
}

%text-align--center {
	text-align: center;
}

%text-align--right {
	text-align: right;
}

%text-align--justify {
	text-align: justify;
}

%text-size--small {
	font-size: 0.75em;
}

%constrain-text {
  -ms-word-break: break-all;

       // Be VERY careful with this, breaks normal words wh_erever
       word-break: break-all;

       // Non standard for webkit
       word-break: break-word;

  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}

%text-truncate {
	text-overflow: ellipsis;
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

%animate--rotate {
    -webkit-animation: 	rotate .75s infinite linear;
    animation:			rotate .75s infinite linear;
}

%border-radius {
	border-radius: calc_ems(4);
}

/*------------------------------------*\
    $TRANSITIONS & ANIMATIONS
\*------------------------------------*/

%transition-fast {
	@include transition-fast(all);
}

%transition-reg {
	@include transition-reg(all);
}

%transition-slow {
	@include transition-slow(all);
}

/*------------------------------------*\
    $SECTIONS
\*------------------------------------*/

$bp-s-multi: 1.5;
$bp-m-multi: 2;
$bp-l-multi: 2.5;

%space-n {
	padding: calc_ems(60) calc_ems(36);
}

%space-n-square {
	padding: calc_ems(36);
}

%space-n-h {
	padding-right: calc_ems(36);
	padding-left: calc_ems(36);
}

%space-n-right {
	padding-right: calc_ems(36);
}

%space-n-left {
	padding-left: calc_ems(36);
}

%space-n-v {
	padding-top: calc_ems(60);
	padding-bottom: calc_ems(60);
}

%space-n-top {
	padding-top: calc_ems(60);
}

%space-n-bottom {
	padding-bottom: calc_ems(60);
}

/*------------------------------------*\
    $BREAKPOINT VISIBILITY
\*------------------------------------*/

/*------------------------------------*\
    $POSITION
\*------------------------------------*/

%pos-absolute {
	position: absolute;
}

%pos-relative {
	position: relative;
}

%pos-fixed {
	position: fixed;
}

/*------------------------------------*\
    $GRID
\*------------------------------------*/

%col-style {
	display: inline-block;
	float: left;
}

/*-------------------------------------*\
		$COLOR
\*-------------------------------------*/

%color--dark {
	color: $color-dark;
}
%color--med {
	color: $color-med;
}
%color--light {
	color: $color-light;
}
%color--green {
	color: $color-green;
}

/*-------------------------------------*\
		$BG COLOR
\*-------------------------------------*/

%bg-color--dark {
	background-color: $color-dark;
}
%bg-color--med {
	background-color: $color-med;
}
%bg-color--light {
	background-color: $color-light;
}
%bg-color--green {
	background-color: $color-green;
}

%remove-link-decor {
	text-decoration: none;
}

%trans-dark-bg {
	background: transparent($color-black, 0.35);
}

%trans-light-bg {
	background: transparent($color-white);	
}


%border-char {
	border: solid $color-green;
}


/*-------------------------------------*\
		$BUTTON
\*-------------------------------------*/

%button-char {
	@extend %font--h;
	@extend %heading-weight--bold;
	@extend %text-align--center;
	@extend %remove-link-decor;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	line-height: 1;
	border-radius: calc_ems(4);
	border: calc_ems(2) solid;
}


/*-------------------------------------*\
		$ROWS
\*-------------------------------------*/

%row {
	@extend %clearfix;
	@extend %row-char;
	@extend %max-width;
	display: block;
}

%row--full-width {
	@extend %clearfix;
  @extend %row-char;
  min-width: 100%;
  display: block;
}

%row--no-pad {
	@extend %clearfix;
	@extend %row-char;
	@extend %max-width;
  padding: 0 !important;
  display: block;
}

%row--reverse {
	@extend %clearfix;
	@extend %row-char;
	@extend %max-width;
	display: block;
}

%row--flex {
  @extend %row-char;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}