
#container, .page__content {
  position: relative;
}

.modal--overlay {
	transition: background 1s linear;
}

.modal--overlay:after {
	content: "";
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: transparent($color-black);
	
}

/* Layout Container */
%layout-container {
	max-width: $max-width;
	margin: 0 auto;
	padding: $space;
}

.row {
  @extend %row;
  width: 100%;
  display: block;

    @include bp--l {
      max-width: calc_ems(1000);
      margin: 0 auto;
    }

  &--full-width {
      @extend %row--full-width;
	  display: block;
    }
    &--no-pad {
      @extend %row--no-pad;
	  display: block;
    }
    &--reverse {
      @extend %row--reverse;
	  display: block;
    }
    &--flex {
      @extend %row--flex;
    }
}

#content {
  > .row, > .row--reverse, > .row--full-width > .row, > .row--full-width > .row--reverse, > .row--full-width > .row--flex, > .row--flex, > .row > .row--flex {
    @include bp(1301) {
      padding-right: 0;
      padding-left: 0;
    }
  }
}