
/*------------------------------------*\
    $FONT-FACE
\*------------------------------------*/

@font-face {
    font-family: 'Fira Sans';
    src: url('../font-face/firasans/FiraSans-Light.eot');
    src: url('../font-face/firasans/FiraSans-Light.eot?#iefix') format('embedded-opentype'),
         url('../font-face/firasans/FiraSans-Light.woff') format('woff'),
         url('../font-face/firasans/FiraSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Fira Sans';
    src: url('../font-face/firasans/FiraSans-LightItalic.eot');
    src: url('../font-face/firasans/FiraSans-LightItalic.eot?#iefix') format('embedded-opentype'),
         url('../font-face/firasans/FiraSans-LightItalic.woff') format('woff'),
         url('../font-face/firasans/FiraSans-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Fira Sans';
    src: url('../font-face/firasans/FiraSans-Medium.eot');
    src: url('../font-face/firasans/FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
         url('../font-face/firasans/FiraSans-Medium.woff') format('woff'),
         url('../font-face/firasans/FiraSans-Medium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'Fira Sans';
    src: url('../font-face/firasans/FiraSans-MediumItalic.eot');
    src: url('../font-face/firasans/FiraSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
         url('../font-face/firasans/FiraSans-MediumItalic.woff') format('woff'),
         url('../font-face/firasans/FiraSans-MediumItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;

}
@font-face {
    font-family: 'Noto Serif';
    src: url('../font-face/notoserif/NotoSerif-Bold-webfont.eot');
    src: url('../font-face/notoserif/NotoSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font-face/notoserif/NotoSerif-Bold-webfont.woff') format('woff'),
         url('../font-face/notoserif/NotoSerif-Bold-webfont.ttf') format('truetype'),
         url('../font-face/notoserif/NotoSerif-Bold-webfont.svg#noto_serifbold_italic') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'Noto Serif';
    src: url('../font-face/notoserif/NotoSerif-BoldItalic-webfont.eot');
    src: url('../font-face/notoserif/NotoSerif-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font-face/notoserif/NotoSerif-BoldItalic-webfont.woff') format('woff'),
         url('../font-face/notoserif/NotoSerif-BoldItalic-webfont.ttf') format('truetype'),
         url('../font-face/notoserif/NotoSerif-BoldItalic-webfont.svg#noto_serifbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}